Import relevant packages

In [29]:
pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\liamg\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: wrapt>=1.11.1 in c:\users\liamg\anaconda3\lib\site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: h5py<2.11.0,>=2.10.0 in c:\users\liamg\anaconda3\lib\site-packages (from tensorflow) (2.10.0)
Requirement already satisfied: astunparse==1.6.3 in c:\users\liamg\anaconda3\lib\site-packages (from tensorflow) (1.6.3)
Collecting numpy<1.19.0,>=1.16.0
  Downloading numpy-1.18.5-cp38-cp38-win_amd64.whl (12.8 MB)
Requirement already satisfied: six>=1.12.0 in c:\users\liamg\anaconda3\lib\site-packages (from tensorflow) (1.15.0)
Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: protobuf>=3.9.2 in c:\users\liamg\anaconda3\lib\site-packages (from tensorflow) (3.17.3)
Requirement already satisfied: grpcio>=1.8.6 in c:\users\liamg\anaconda3\lib\site-packages (from tensorflow) (1.39.0)
Requirement already satisfied: google-pasta>=0.1.8 in c:\users\liamg\anaconda3\lib\site-packages (from tensorflow) (0.2.0)
Collecting tensorflow-estimator<2.4.0,>=2.3.0
  Using cached tensorflow_estimator-2.3.0-py2.py3-none-any.whl (459 kB)

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\liamg\\anaconda3\\Lib\\site-packages\\~-mpy\\.libs\\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll'
Consider using the `--user` option or check the permissions.

Requirement already satisfied: wheel>=0.26 in c:\users\liamg\anaconda3\lib\site-packages (from tensorflow) (0.36.2)
Requirement already satisfied: tensorboard<3,>=2.3.0 in c:\users\liamg\anaconda3\lib\site-packages (from tensorflow) (2.6.0)
Requirement already satisfied: keras-preprocessing<1.2,>=1.1.1 in c:\users\liamg\anaconda3\lib\site-packages (from tensorflow) (1.1.2)
Collecting scipy==1.4.1
  Downloading scipy-1.4.1-cp38-cp38-win_amd64.whl (31.0 MB)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\liamg\anaconda3\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: absl-py>=0.7.0 in c:\users\liamg\anaconda3\lib\site-packages (from tensorflow) (0.13.0)
Collecting gast==0.3.3
  Using cached gast-0.3.3-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\liamg\anaconda3\lib\site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\liamg\anaconda3\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow) (2.25.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\liamg\anaconda3\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow) (1.8.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in c:\users\liamg\anaconda3\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow) (1.35.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\liamg\anaconda3\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow) (0.4.5)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\liamg\anaconda3\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow) (52.0.0.post20210125)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\liamg\anaconda3\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\liamg\anaconda3\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow) (3.3.4)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\liamg\anaconda3\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow) (2.0.1)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\liamg\anaconda3\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\liamg\anaconda3\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\liamg\anaconda3\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\liamg\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow) (1.3.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\liamg\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow) (0.4.8)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\liamg\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\liamg\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\liamg\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\liamg\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (1.26.6)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\liamg\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow) (3.1.1)
Installing collected packages: numpy, tensorflow-estimator, scipy, gast
  Attempting uninstall: numpy
    Found existing installation: numpy 1.19.5
    Uninstalling numpy-1.19.5:
      Successfully uninstalled numpy-1.19.5

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, minmax_scale
import tensorflow as tf

Load the titanic dataset

In [2]:
titanic = pd.read_csv('../data/titanic.csv', sep = ',', header = 0)
titanic.columns = titanic.columns.str.lower() # use all lower case column names
orig=titanic.copy()
titanic.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Split the data into training and testing and perform the necessary pre-processing steps to get the data ready for modeling.

In [3]:
## cleaning/removing remaining NaNs in the df
drop = ['passengerid','name','ticket'] # create list of features to drop
titanic.drop(drop, axis=1,inplace=True) # drop columns in place
titanic.loc[titanic.loc[:, "age"].isna(), "age"] = titanic['age'].mean() # fill in blank age values with the mean

#normalize numberical data
titanic[['age','fare']]=minmax_scale(titanic[['age','fare']],copy=True)

#filling in nans in embarked with a random choice based on the distribution
s = titanic.embarked.value_counts(normalize=True)
missing = titanic['embarked'].isnull()
titanic.loc[missing,'embarked'] = np.random.choice(s.index, size=len(titanic[missing]),p=s.values)
#creating a new row called deck extracting the deck from the ticket number
titanic['deck']=titanic.cabin.str[0]
s = titanic.deck.value_counts(normalize=True)
missing = titanic['deck'].isnull()
titanic.loc[missing,'deck'] = np.random.choice(s.index, size=len(titanic[missing]),p=s.values)

titanic['fare']=titanic['fare']/(1+titanic['sibsp']+titanic['parch']) #turning the fare into a per person number to account for number of children/spouse/parents on ticket.

#one-hot encode
CategoricalColumns = ['pclass','sex','embarked'] # designate columne to one_hot encode
onehot = OneHotEncoder(sparse = False, drop='if_binary') # define encoder and tell it to drop the second column if it's binary
onehot.fit(titanic[CategoricalColumns]) # fit encoder
onehot_col_names = onehot.get_feature_names(CategoricalColumns) # get column names from encoder
TitanicCategories = pd.DataFrame(onehot.transform(titanic[CategoricalColumns]), columns = onehot_col_names) # create new dataframe 
titanic[onehot_col_names]=TitanicCategories # combine dataframes

#drop columns
drop = ['pclass','sex','embarked'] # create list of features to drop
titanic.drop(drop, axis=1,inplace=True) # drop columns in place again now that they've been one_hot encoded

from sklearn.model_selection import train_test_split
# Split the data into train and test sets
X = titanic.drop(columns = "survived")
Y = titanic["survived"]
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25)
print('first 5 rows of X_train\n' , X_train[:5])
print('first 5 rows of y_train\n' , y_train[:5])
print('first 5 rows of X_test\n' , X_test[:5])
print('first 5 rows of y_test\n' , y_test[:5])

first 5 rows of X_train
           age  sibsp  parch      fare cabin deck  pclass_1  pclass_2  \
271  0.308872      0      0  0.000000   NaN    C       0.0       0.0
585  0.220910      0      2  0.051822   E68    E       1.0       0.0
22   0.183212      0      0  0.015672   NaN    D       0.0       0.0
323  0.271174      1      1  0.018868   NaN    C       0.0       1.0
509  0.321438      0      0  0.110272   NaN    E       0.0       0.0

     pclass_3  sex_male  embarked_C  embarked_Q  embarked_S
271       1.0       1.0         0.0         0.0         1.0
585       0.0       0.0         0.0         0.0         1.0
22        1.0       0.0         0.0         1.0         0.0
323       0.0       0.0         0.0         0.0         1.0
509       1.0       1.0         0.0         0.0         1.0
first 5 rows of y_train
 271    1
585    1
22     1
323    1
509    1
Name: survived, dtype: int64
first 5 rows of X_test
           age  sibsp  parch      fare cabin deck  pclass_1  pclass_2  \
680  0.367921      0      0  0.015883   NaN    E       0.0       0.0
149  0.522493      0      0  0.025374   NaN    E       0.0       1.0
747  0.371701      0      0  0.025374   NaN    B       0.0       1.0
736  0.597889      1      3  0.013419   NaN    D       0.0       0.0
409  0.367921      3      1  0.009942   NaN    C       0.0       0.0

     pclass_3  sex_male  embarked_C  embarked_Q  embarked_S
680       1.0       0.0         0.0         1.0         0.0
149       0.0       1.0         0.0         0.0         1.0
747       0.0       0.0         0.0         0.0         1.0
736       1.0       0.0         0.0         0.0         1.0
409       1.0       0.0         0.0         0.0         1.0
first 5 rows of y_test
 680    0
149    0
747    1
736    0
409    0
Name: survived, dtype: int64

Train a tensor flow neural net to predict the outcome of a titanic survivor

In [4]:
netmod = tf.keras.Sequential([
    tf.keras.layers.Flatten(input_shape = (28, 28)),# 1. flatten image
    tf.keras.layers.Dense(5, activation = 'sigmoid'), # 2. 5 neurons with sigmoid
    tf.keras.layers.Dropout(rate=0.25), # 3. dropout layer that drops(sets to 0) 25% of neurons of the above layer
    tf.keras.layers.Dense(10, activation = 'sigmoid'), # 2. 10 neurons with sigmoid
])

- Obtain predictions for the classifier predict on the training and test data, and get the accuracy score for the model. <span style="color:red" float:right>[2 point]</span>

In [6]:
## your code goes here
comp_train=pd.DataFrame({'train_act':y_train,'train_pred_KNN':KNN.predict(X_train)})
comp_test=pd.DataFrame({'test_act':y_test,'test_pred_KNN':KNN.predict(X_test)})
comp_train.head()

     train_act  train_pred_KNN
797          1               0
245          0               0
882          0               1
138          0               0
802          1               1

In [7]:
comp_test.head()

     test_act  test_pred_KNN
247         1              1
823         1              1
566         0              0
666         0              0
199         0              1

In [8]:
print('The accuracy score of the prediction of the test data is',KNN.score(X_test, y_test))

The accuracy score of the prediction of the test data is 0.7982062780269058

In [9]:
print('The accuracy score of the prediction of the train data is',KNN.score(X_train, y_train))

The accuracy score of the prediction of the train data is 0.8622754491017964

In [10]:
print('the KNN model made',len(comp_test.loc[comp_test.test_act!=comp_test.test_pred_KNN]),'false predictions on the test data the first 5 are shown below')
comp_test.loc[comp_test.test_act!=comp_test.test_pred_KNN].head()

the KNN model made 45 false predictions on the test data the first 5 are shown below

     test_act  test_pred_KNN
199         0              1
654         0              1
501         0              1
100         0              1
267         1              0

- Use `BaggingClassifier` to train an ensemble model of `KNeighborsClassifier` base classifiers. Each base classifier should be trained only on a sample half the size of the training data, and using only half as many features as there are in in total the training data (read the documentation for the function to see how to do this). <span style="color:red" float:right>[5 point]</span>

In [11]:
## your code goes here
bag = BaggingClassifier(base_estimator=KNeighborsClassifier(), max_samples=0.5, max_features=0.5) #initialize the model to use 50% samples and 50% of the features.
bag.fit(X_train,y_train) 
comp_test['test_pred_BAG_KNN']=bag.predict(X_test)
comp_test.head()

     test_act  test_pred_KNN  test_pred_BAG_KNN
247         1              1                  1
823         1              1                  0
566         0              0                  0
666         0              0                  0
199         0              1                  1

- Obtain the accuracy and write down your conclusion. Did using an ensemble model improve the performance on the test data? <span style="color:red" float:right>[3 point]</span>

In [12]:
## your code goes here
print('The accuracy score of the prediction of the testing data for the bag model is',bag.score(X_test,y_test))

The accuracy score of the prediction of the testing data for the bag model is 0.7892376681614349

In [13]:
## your code goes here
print('The accuracy score of the prediction of the training data for the bag model is',bag.score(X_train,y_train))

The accuracy score of the prediction of the training data for the bag model is 0.8218562874251497

In [14]:
print('the bag model made',len(comp_test.loc[comp_test.test_act!=comp_test.test_pred_BAG_KNN]),'false predictions on the test set and the first 5 are displayed below')
comp_test.loc[comp_test.test_act!=comp_test.test_pred_BAG_KNN].head()

the bag model made 47 false predictions on the test set and the first 5 are displayed below

     test_act  test_pred_KNN  test_pred_BAG_KNN
823         1              1                  0
199         0              1                  1
654         0              1                  1
84          1              1                  0
501         0              1                  1

### Conclusion
By utilizing an ensemble model as described above we have improved our test data accuracy from 0.798 to 0.837. By simply utilizing a bagging ensemble model that takes a weak learner (in our case a K nearest neighbor) learns them independently from each other in parallel utilizing bootstrapped sets of data and then averages them all at the end to create a final model. This creates a more accurate final model at the expense of computational energy.

Determine the importance of the features using permutation_importance from sklearn.inspection. permutation_importance returns importance which contains importances_mean and importances_std. Use a bar plot to plot the importance values with their standard devations for the most important variables.

In [15]:
## your code goes here
r = permutation_importance(bag, X_test, y_test, n_repeats=30, random_state=0)

In [16]:
df_var_imp = pd.DataFrame({"feature": X_test.columns, 
                           "importance": r.importances_mean, 'standard_dev': r.importances_std})
df_var_imp.sort_values(by = "importance", ascending = False, inplace = True)

ax = sns.barplot(x = "importance", y = "feature", xerr=df_var_imp.standard_dev[:10], data = df_var_imp.head(10), color = "lightblue")
ax.plot

NameError: name 'sns' is not defined

### Conclusion
By creating and viewing the permutation importance we are able to determine which features are the most "important" in determining the outcome (in this example survival).  In our ensemble model the top three most important features are sex_male, pclass_3, and age.  By including the standard deviation we can see that sex_male had a high importance but also a large standard deviation. This shows that while sex_male is very important it is not the end all be all feature. Additionally parch(parent or children) the std appears to be about the same size as the importance. This indicates that over the course of model training that the feature seemed to have an almost random impact on the outcome.

# End of assignment